# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Config (pode conter senhas do relógio)
config.json

# PyInstaller
*.manifest
*.exe

# OS
Thumbs.db
.DS_Store

# Temp
*.tmp
*.bak
